body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.div-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ff6600;
}
/*navbar*/
nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
}

/* Hero section */
.heroflower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    flex-wrap: wrap;
}

.hero-text-flower {
    max-width: 50%;
    padding-right: 20px;
}

.hero-text-flower h1 {
    font-size: 48px;
    color: #000;
    line-height: 1.2;
}

.hero-text-flower p {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.highlight {
    color: #ff6600;
    font-weight: bold;
}

.highlight-orange {
    color: #ff6600;
    font-weight: bold;
}

.hero-image-flower {
    flex: 1;
    text-align: center;
}

.hero-image-flower img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/*plants section */

.Plants {
    text-align: center;
    padding: 40px 0;
}